{% extends "layouts/base.html" %}
{% load project_extras static %}
{% block title %} 数据文件 {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/ag-grid-community_styles_ag-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/ag-grid-community_styles_ag-theme-alpine.css' %}" />
    <link rel="stylesheet" href="/static/admin/simpleui-x/elementui/theme-chalk/button.css">
    <link rel="stylesheet" href="/static/admin/simpleui-x/elementui/theme-chalk/icon.css">
    <style>
    {#html, body, #myGrid {#}
    {#        height: 100%;#}
    {#        width: 100%;#}
    {#        margin: 0;#}
    {#        padding: 0;#}
    {#        box-sizing: border-box;#}
    {#    }#}
    </style>
{% endblock stylesheets %}
{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">

                            <div class="card" style="height: 100%;" >
                                <div class="card-header">
                                    <h5><span><i class="feather icon-home">  <a
                                            href="{% url 'index' %}">首页</a></i></span>
                                    </h5>
                                    <span><i class="fa fa-map-marker"></i> 数据文件列表</span>
                                </div>

                                <div id= 'prolist' style="display: block" class="card-block" >
                                    <button type="button" class="el-button el-button--danger">
                                        <i class="el-icon-delete"></i>
                                        <span>删除</span>
                                    </button>
                                    <button type="button" class="el-button el-button--primary" onclick="go_data_file_add()">
                                        <i class="el-icon-plus"></i>
                                        <span>增加</span>
                                    </button>
                                    <div id='alldatafiles' style="display: block" class="table-responsive ">
{#                                        <div id="myGrid" style="height: 200px;" class="ag-theme-quartz"></div>#}
                                        <div id="myGrid"   class="ag-theme-quartz"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block javascripts %}
    <script src="{% static 'admin/js/ag-grid-community_dist_ag-grid-community.noStyle.js' %}"></script>
    <script src="{% static 'admin/js/xlsx_0.17.1_xlsx.full.min.js' %}"></script>
    <script src="{% static 'admin/js/ag-grid/ag-grid-community_dist_ag-grid-community.js' %}"></script>
    <script type="text/javascript">
        var columnDefs = [
            { headerCheckboxSelection: true, checkboxSelection: true, width: 70 },
            { headerName: "系统名称", field: "system_name", width: 150 },
            //{ headerName: "一级目录", field: "leve_1_name" , 'pinned': 'left'},
            { headerName: "一级目录", field: "leve_1_name" , width: 150 },
            { headerName: "二级目录", field: "leve_2_name" , width: 150 },
            { headerName: "三级目录", field: "leve_3_name", width: 150  },
            { headerName: "四级目录", field: "leve_4_name" , width: 150 },
            { headerName: "功能名称", field: "function_name" , width: 150 },
            { headerName: "功能编号", field: "function_code", width: 150  },
            { headerName: "重要级别", field: "importance_level", width: 150  }
        ];
        var rowData = [
            { system_name: '数据查询统计系统数据查询统计系统数据查询统计系统数据查询统计系统数据查询统计系统数据查询统计系统', leve_1_name: '结算业务', leve_2_name: '/', leve_3_name: '/', leve_4_name: '/', function_name: 'a股份备付金', function_code: 'za0001', importance_level: '一般类—业务查询'},
            { system_name: '数据查询统计系统', leve_1_name: '结算业务', leve_2_name: '港股通', leve_3_name: '港股备份', leve_4_name: '', function_name: '支付金预付', function_code: 'za0021', importance_level: '一般类—业务类' },
            { system_name: '数据查询统计系统', leve_1_name: '结算业务', leve_2_name: '港股通', leve_3_name: '', leve_4_name: '', function_name: '银行预付', function_code: 'Jx0021', importance_level: '' },
            { system_name: '数据查询统计系统', leve_1_name: '支付业务', leve_2_name: '', leve_3_name: '', leve_4_name: '', function_name: '三级账户支付', function_code: 'uu0001', importance_level: '' },
            { system_name: '风险监测系统', leve_1_name: '等支付金', leve_2_name: '等预算支付', leve_3_name: '', leve_4_name: '', function_name: '二类账户', function_code: 'hj0021', importance_level: '重要类—业务类' },
            { system_name: '风险监测系统', leve_1_name: '', leve_2_name: '', leve_3_name: '', leve_4_name: '', function_name: '京杭账户', function_code: 'hj0028', importance_level: '重要类—业务类' },
            { system_name: '风险监测系统', leve_1_name: '', leve_2_name: '', leve_3_name: '', leve_4_name: '', function_name: '京杭账户等级支付', function_code: 'hj0029', importance_level: '' },
            { system_name: '风险监测系统', leve_1_name: '结算业务', leve_2_name: '', leve_3_name: '', leve_4_name: '', function_name: 'a股份备付金', function_code: 'za0001', importance_level: '一般类—业务查询' },
        ];
       // 创建网格选项
        const gridOptions = {
            columnDefs: columnDefs,
            //rowData: rowData,
            rowSelection: 'multiple', // 启用多选
            defaultColDef: {
                //flex: 1,
                //minWidth: 150,
                //filter: 'agTextColumnFilter', // 默认使用文本过滤器
                filter: true,
                //floatingFilter: true, // 启用浮动筛选
            },
            // 设置固定表头的选项
            {#floatingFiltersHeight: 50, // 可选，如果使用了浮动过滤器#}
            {#pivotGroupHeaderHeight: 50, // 可选，如果使用了分组#}
            //headerHeight: 50, // 表头高度
            domLayout: 'autoHeight', // 设置自动高度
        };

        // 请求后端数据并填充表格
        function fetchGridData(api) {
            //const url = `{% url 'testcases:get_data' %}?page=${page}&page_size=${pageSize}`;
            const url = `{% url 'testcases:get_data' %}`;

            fetch(url)  // 替换为你的后端 API URL
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    api.setRowData(data);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }


        // 初始化网格
        document.addEventListener('DOMContentLoaded', function() {
            const gridDiv = document.querySelector('#myGrid');
            agGrid.createGrid(gridDiv, gridOptions);
            fetchGridData(gridOptions.api); // 页面加载时请求数据
        });
{#const gridOptions: GridOptions = {#}
{#   onGridReady: (event: GridReadyEvent) {#}
{#      // use api from event#}
{#      event.api.ensureIndexVisible(10);#}
{#   }#}
{# }#}

    </script>
{% endblock javascripts %}