{% extends "layouts/base.html" %}
{% load project_extras static %}
{% load custom_filters %}
{% block title %} 数据文件 {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="{% static 'admin/css/custom.css' %}" rel="stylesheet">

    <style>
        {#.table {#}
        {#    table-layout: fixed;#}
        {#    width: 100%;#}
        {# }#}
        .custom-header-class .th-inner {
            color: rgba(128, 234, 248, 0.8); /* 改变文本颜色 */
        }
    /* 修改下拉框选项字体颜色 */
        .bootstrap-select .dropdown-menu li a {
            color: red;  /* 你想要的颜色 */
        }

        /* 修改选中项字体颜色 */
        .bootstrap-select .dropdown-toggle .filter-option {
            color: blue;  /* 你想要的颜色 */
        }
    </style>
{% endblock stylesheets %}
{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5><span><i class="feather icon-home">  <a
                                            href="{% url 'index' %}">首页</a></i></span>
                                    </h5>
                                    <span><i class="fa fa-map-marker"></i> 数据文件新增</span>
                                </div>

                                <div id= 'prolist' style="display: block" class="card-block">
                                    <div id='alldatafiles' style="display: block" class="table-responsive ">
                                        <form id="addForm">
                                            <div class="form-group">
                                                <label for="systemName">系统名称</label>
                                                <select class="select2 my_select_input " id="systemName" name="system_name" >
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="level1">一级目录</label>
                                                <select class="select2 my_select_input " id="level1" name="level_1_name" >
                                                    <option value="0">/</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="level2">二级目录</label>
                                                <select class="select2 my_select_input " id="level2" name="level_2_name" >
                                                    <option value="0">/</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="level3">三级目录</label>
                                                <select class="select2 my_select_input " id="level3" name="level_3_name" >
                                                    <option value="0">/</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="level4">四级目录</label>
                                                <select class="select2 my_select_input " id="level4" name="level_4_name" >
                                                    <option value="0">/</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="functionName">功能名称</label>
                                                <select class="select2 my_select_input " id="functionName" name="function_name">
                                                    <option value="0">/</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="functionCode">功能编号</label>
                                                <select class="select2 my_select_input " id="functionCode" name="function_code">
                                                    <option value="0">/</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="importanceLevel ">重要级别</label>
                                                <select class="select2 my_select_input " id="importanceLevel" name="importance_level">
                                                    <option value="0">/</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="fileType">文件类型</label>
                                                <select class="select2 my_select_input " id="fileType" name="file_type" >
                                                    <option value="0">/</option>
                                                </select>

                                            </div>
                                            <div class="form-group">
                                                <label for="filePath">数据文件</label>
                                                <input type="file" class="form-control" id="filePath" name="file_path">
                                            </div>
                                            <button type="button" class="btn btn-danger">
{#                                                <i class="el-icon-delete"></i>#}
                                                <span>取消</span>
                                            </button>
                                            <button type="button" class="btn btn-primary" onclick="go_data_file_add()">
{#                                                <i class="el-icon-plus"></i>#}
                                                <span>增加</span>
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script type="text/javascript">
        let systemStructures = {{ system_structures|to_js |safe }};
        let fileTypes = {{ file_types|to_js|safe }};
        let pagenum = {{ pagenum }};
        let pagesize = {{ pagesize }};
        console.log(systemStructures);
        // selectpicker 配置
        {#$(".selectpicker").selectpicker({#}
        {#    liveSearch: true,       // 允许模糊搜索#}
        {#    selectOnTab: true,      // 允许键入空格或制表符#}
        {#    selectAllText: '全选',#}
        {#    deselectAllText: '取消全选',#}
        {# });#}
        // 初始化 Select2 并启用标签功能
        $('.my_select_input').select2({
            tags: false,
            placeholder: "选择或输入文件类型",
            allowClear: true,
            //dropdownParent: $('#addModal')  // 将下拉列表附加到模态框内
         }).on('select2:select', function(e) {
             console.log('11111');
             isClearing = false;
        }).on('select2:unselecting', function(e) { //点击叉号会进入这里
            console.log('22222');
            // 阻止下拉列表展开
            isClearing = true;
            $(this).data('state', 'unselecting');
        }).on('select2:opening', function(e) { //下拉列表展开时会进入这里
            console.log('333333333');
            if ($(this).data('state') === 'unselecting') {
                console.log('44444444444');
                $(this).removeData('state');
                e.preventDefault();
            }
        });



        // 加载数据并填充选择框
        $.ajax({
            url: '{% url 'testcases:get_data' %}',
            method: 'GET',
            success: function(data) {

                let systemNames = new Set();
                let level1Names = new Set();
                let level2Names = new Set();
                let level3Names = new Set();
                let level4Names = new Set();
                let importanceLevel = new Set();
                let functionNames = new Set();
                let functionCodes = new Set();

                data.forEach(item => {
                    systemNames.add(item.system_name);
                    level1Names.add(item.leve_1_name);
                    level2Names.add(item.leve_2_name);
                    level3Names.add(item.leve_3_name);
                    level4Names.add(item.leve_4_name);
                    importanceLevel.add(item.importance_level);
                    functionNames.add(item.function_name);
                    functionCodes.add(item.function_code);
                });

                populateSelect('#systemName', systemNames);
                populateSelect('#level1', level1Names);
                populateSelect('#level2', level2Names);
                populateSelect('#level3', level3Names);
                populateSelect('#level4', level4Names);
                populateSelect('#importanceLevel', importanceLevel);
                populateSelect('#functionName', functionNames);
                populateSelect('#functionCode', functionCodes);

               $('.my_select_input').val(null);
                {#$('#systemName').on('change', function() {#}
                {#    const systemName = $(this).val();#}
                {#    handleSystemNameChange(data, systemName);#}
                {#});#}
                {##}
                {#$('#level1').on('change', function() {#}
                {#    const level1 = $(this).val();#}
                {#    handleLevelChange(data, 'leve_1_name', level1, ['level2', 'functionName', 'functionCode']);#}
                {#});#}
                {##}
                {##}
                {#$('#level2').on('change', function() {#}
                {#    const level2 = $(this).val();#}
                {#    handleLevelChange(data, 'leve_2_name', level2, ['level3', 'functionName', 'functionCode']);#}
                {#});#}
                {##}
                {#$('#level3').on('change', function() {#}
                {#    const level3 = $(this).val();#}
                {#    handleLevelChange(data, 'leve_3_name', level3, ['level4', 'functionName', 'functionCode']);#}
                {#});#}
                {##}
                {#$('#level4').on('change', function() {#}
                {#    const level4 = $(this).val();#}
                {#    handleLevelChange(data, 'leve_4_name', level4, ['functionName', 'functionCode']);#}
                {#});#}
                {##}
                {#$('#functionName').on('change', function() {#}
                {#    const functionName = $(this).val();#}
                {#    handleFunctionNameChange(data, functionName);#}
                {#});#}
                {##}
                {##}
                {#$('#functionCode').on('change', function() {#}
                {#    const functionCode = $(this).val();#}
                {#    handleFunctionCodeChange(data, functionCode);#}
                {#});#}
            }
        });

        function populateSelect(selector, items) {
            const select = $(selector);
            select.empty();
            items.forEach(item => {
                select.append(new Option(item, item));
            });
        }

        //选择系统名称
        $('#systemName').on('change',function(){
            //获取所有的有选项的数据
            let systemnamevalue = $('#systemName').val();
            let firstlevelValue = $('#level1').val();
            let secondlevelValue = $('#level2').val();
            let thirdlevelValue = $('#level3').val();
            let forthlevelValue = $('#level4').val();
            let functionNameValue = $('#functionName').val();
            let functionCodeValue = $('#functionCode').val();
            let importancelevelValue = $('#importanceLevel').val();

            console.log(secondlevelValue);
            if(systemnamevalue === null){
                console.log('systemName没有选择shuju');
            }else{
                //选择了系统名称
                if(firstlevelValue === null){  //

                }

            }


        })

        $('#functionName').on('change',function(){
            //获取所有的有选项的数据

            let functionName = $(this).val();
            let filteredItem = systemStructures.filter(item => item.function_name === functionName);
            $('#systemName').val(filteredItem.system_name);
            $('#level1').val(filteredItem.leve_1_name);
            $('#level2').val(filteredItem.leve_2_name);
            $('#level3').val(filteredItem.leve_3_name);
            $('#level4').val(filteredItem.leve_4_name);
            $('#systemName').empty()
            filteredItem.forEach(item => {
                console.log(item)
                $('#systemName').append(new Option(item.system_name, item.system_name));
            });


        })
















        function handleSystemNameChange(data, systemName) {

            let level1Names = new Set();
            let functionNames = new Set();
            let functionCodes = new Set();
            console.log(data);
            data.forEach(item => {
                if (item.system_name === systemName) {
                    if (item.leve_1_name) {
                        level1Names.add(item.leve_1_name);
                    }else{

                    }
                    functionNames.add(item.function_name);
                    functionCodes.add(item.function_code);
                }
            });
            console.log(level1Names);
            console.log(functionNames);
            console.log(functionCodes);
            populateSelect('#level1', level1Names);
            populateSelect('#functionName', functionNames);
            populateSelect('#functionCode', functionCodes);
        }

        function handleLevelChange(data, levelKey, levelValue, nextLevels) {
            let nextLevelData = new Set();
            let functionNames = new Set();
            let functionCodes = new Set();

            data.forEach(item => {
                if (item[levelKey] === levelValue) {
                    nextLevels.forEach(nextLevel => {
                        if (item[nextLevel]) {
                            nextLevelData.add(item[nextLevel]);
                        }
                    });
                    functionNames.add(item.function_name);
                    functionCodes.add(item.function_code);
                }
            });

            populateSelect(`#${nextLevels[0]}`, nextLevelData);
            populateSelect('#functionName', functionNames);
            populateSelect('#functionCode', functionCodes);
        }

        function handleFunctionNameChange(data, functionName) {
            let functionCode = '';
            let importanceLevel = '';

            data.forEach(item => {
                if (item.function_name === functionName) {
                    functionCode = item.function_code;
                    importanceLevel = item.importance_level;
                }
            });

        }

        function handleFunctionCodeChange(data, functionCode) {
            let functionName = '';
            let importanceLevel = '';

            data.forEach(item => {
                if (item.function_code === functionCode) {
                    functionName = item.function_name;
                    importanceLevel = item.importance_level;
                }
            });

        }











        //get_structure_filetype_data();
        //获取系统结构表和文件类型表
        function get_structure_filetype_data(){
             // 初始化文件类型选择框
            fileTypes.forEach(ft => {
                $('#fileType').append("<option value=" + ft.id + ">" + ft.filetype + "</option>");
            });

            // 初始化系统名称选择框
            let systemNames = [...new Set(systemStructures.map(item => item.system_name))];
            systemNames.forEach(systemName => {
                $('#systemName').append(new Option(systemName, systemName));
            });

            // 绑定系统名称选择事件
            $('#systemName').change(function () {
                let selectedSystemName = $(this).val();
                let filteredLevel1 = systemStructures.filter(item => item.system_name === selectedSystemName);

                // 清空并重置下级选择框
                $('#level1').empty().prop('disabled', filteredLevel1.length === 0);
                $('#level2').empty().prop('disabled', true);
                $('#level3').empty().prop('disabled', true);
                $('#level4').empty().prop('disabled', true);

                // 填充一级目录
                let level1Names = [...new Set(filteredLevel1.map(item => item.level_1_name))];
                level1Names.forEach(level1Name => {
                    $('#level1').append(new Option(level1Name, level1Name));
                });
            });

            // 绑定一级目录选择事件
            $('#level1').change(function () {
                let selectedSystemName = $('#systemName').val();
                let selectedLevel1 = $(this).val();
                let filteredLevel2 = systemStructures.filter(item => item.system_name === selectedSystemName && item.level_1_name === selectedLevel1);

                // 清空并重置下级选择框
                $('#level2').empty().prop('disabled', filteredLevel2.length === 0);
                $('#level3').empty().prop('disabled', true);
                $('#level4').empty().prop('disabled', true);

                // 填充二级目录
                let level2Names = [...new Set(filteredLevel2.map(item => item.level_2_name))];
                level2Names.forEach(level2Name => {
                    $('#level2').append(new Option(level2Name, level2Name));
                });
            });

            // 绑定二级目录选择事件
            $('#level2').change(function () {
                let selectedSystemName = $('#systemName').val();
                let selectedLevel1 = $('#level1').val();
                let selectedLevel2 = $(this).val();
                let filteredLevel3 = systemStructures.filter(item => item.system_name === selectedSystemName && item.level_1_name === selectedLevel1 && item.level_2_name === selectedLevel2);

                // 清空并重置下级选择框
                $('#level3').empty().prop('disabled', filteredLevel3.length === 0);
                $('#level4').empty().prop('disabled', true);

                // 填充三级目录
                let level3Names = [...new Set(filteredLevel3.map(item => item.level_3_name))];
                level3Names.forEach(level3Name => {
                    $('#level3').append(new Option(level3Name, level3Name));
                });
            });

            // 绑定三级目录选择事件
            $('#level3').change(function () {
                let selectedSystemName = $('#systemName').val();
                let selectedLevel1 = $('#level1').val();
                let selectedLevel2 = $('#level2').val();
                let selectedLevel3 = $(this).val();
                let filteredLevel4 = systemStructures.filter(item => item.system_name === selectedSystemName && item.level_1_name === selectedLevel1 && item.level_2_name === selectedLevel2 && item.level_3_name === selectedLevel3);

                // 清空并重置下级选择框
                $('#level4').empty().prop('disabled', filteredLevel4.length === 0);

                // 填充四级目录
                let level4Names = [...new Set(filteredLevel4.map(item => item.level_4_name))];
                level4Names.forEach(level4Name => {
                    $('#level4').append(new Option(level4Name, level4Name));
                });
            });

        }
    </script>

{% endblock javascripts %}