{% extends "layouts/base.html" %}
{% load project_extras static %}
{% block title %} 数据文件 | rowmode是client分页 {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/ag-grid-community_styles_ag-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/ag-grid-community_styles_ag-theme-alpine.css' %}" />
    <link rel="stylesheet" href="/static/admin/simpleui-x/elementui/theme-chalk/button.css">
    <link rel="stylesheet" href="/static/admin/simpleui-x/elementui/theme-chalk/icon.css">
    <style>
    {#html, body, #myGrid {#}
    {#        height: 100%;#}
    {#        width: 100%;#}
    {#        margin: 0;#}
    {#        padding: 0;#}
    {#        box-sizing: border-box;#}
    {#    }#}
    </style>
{% endblock stylesheets %}
{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">

                            <div class="card" style="height: 100%;" >
                                <div class="card-header">
                                    <h5><span><i class="feather icon-home">  <a
                                            href="{% url 'index' %}">首页</a></i></span>
                                    </h5>
                                    <span><i class="fa fa-map-marker"></i> 数据文件列表</span>
                                </div>

                                <div id= 'prolist' style="display: block" class="card-block" >
                                    <button type="button" class="el-button el-button--danger">
                                        <i class="el-icon-delete"></i>
                                        <span>删除</span>
                                    </button>
                                    <button type="button" class="el-button el-button--primary" onclick="go_data_file_add()">
                                        <i class="el-icon-plus"></i>
                                        <span>增加</span>
                                    </button>
                                    <div id='alldatafiles' style="display: block" class="table-responsive ">
{#                                        <div id="myGrid" style="height: 500px;" class="ag-theme-quartz"></div>#}
                                        <div id="myGrid"   class="ag-theme-quartz"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block javascripts %}
    <script src="{% static 'admin/js/ag-grid-community_dist_ag-grid-community.noStyle.js' %}"></script>
    <script src="{% static 'admin/js/xlsx_0.17.1_xlsx.full.min.js' %}"></script>
    <script src="{% static 'admin/js/ag-grid/ag-grid-community_dist_ag-grid-community.js' %}"></script>
    <script >
        // 定义一个全局变量来存储分页大小
        const pageSize = 10;

        var columnDefs = [
            { headerCheckboxSelection: true, checkboxSelection: true, width: 70 },
            { headerName: "系统名称", field: "system_name", width: 150 },
            //{ headerName: "一级目录", field: "leve_1_name" , 'pinned': 'left'},
            { headerName: "一级目录", field: "leve_1_name" , width: 150 },
            { headerName: "二级目录", field: "leve_2_name" , width: 150 },
            { headerName: "三级目录", field: "leve_3_name", width: 150  },
            { headerName: "四级目录", field: "leve_4_name" , width: 150 },
            { headerName: "功能名称", field: "function_name" , width: 150 },
            { headerName: "功能编号", field: "function_code", width: 150  },
            { headerName: "重要级别", field: "importance_level", width: 150  }
        ];
        {#var rowData = [#}
        {#    ,#}
        {#];#}


        // 请求后端数据并填充表格
        function fetchGridData(api,pageNumber) {
            //const url = `{% url 'testcases:get_data' %}?page=${page}&page_size=${pageSize}`;
            //const url = `{% url 'testcases:get_data' %}`;
            const url = `{% url 'testcases:get_data' %}?page=${pageNumber}&page_size=${pageSize}`;


            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const rowData = data.results; // 假设后端返回的数据在 results 字段中
                    const rowCount = data.count; // 假设后端返回的总记录数在 count 字段中

                    {#data.forEach(item=>{#}
                    {#    api.applyTransaction({ add: [item] });#}
                    {# })#}

                    // 将数据添加到网格中
                    api.applyTransaction({ add: rowData });
                    // 设置网格总行数（用于分页）
                    api.paginationSetPageSize(pageSize);
                    //api.paginationSetRowCount(rowCount);

                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }


        // 初始化网格
        document.addEventListener('DOMContentLoaded', function() {
            const gridDiv = document.querySelector('#myGrid');

            const gridOptions = {
                columnDefs: columnDefs,
                //rowData: rowData,
                rowSelection: 'multiple', // 启用多选
                pagination: true, // 启用分页
                paginationPageSize: pageSize, // 每页显示的行数
                paginationPageSizeSelector: [10, 20, 30],
                //rowModelType: 'infinite', // 使用 Infinite Row Model
                //cacheBlockSize: pageSize, // 每次请求的行数
                defaultColDef: {
                    //flex: 1,
                    //minWidth: 150,
                    //filter: 'agTextColumnFilter', // 默认使用文本过滤器
                    filter: true,
                    //floatingFilter: true, // 启用浮动筛选
                },
                // 设置固定表头的选项
                {#floatingFiltersHeight: 50, // 可选，如果使用了浮动过滤器#}
                {#pivotGroupHeaderHeight: 50, // 可选，如果使用了分组#}
                //headerHeight: 50, // 表头高度
                domLayout: 'autoHeight', // 设置自动高度
                {#onGridReady: function(params) {#}
                {#    const { api } = params;#}
                {#    fetchGridData(api, 1); // 页面加载时请求第一页数据#}
                {# },#}
            };


            const grid = agGrid.createGrid(gridDiv, gridOptions); // Store the grid instance
            // 监听分页变化事件，重新加载数据
            grid.addEventListener('paginationChanged', function() {
                const pageNumber = grid.paginationGetCurrentPage() + 1; // 获取当前页码
                fetchGridData(grid, pageNumber); // 请求对应页码的数据
            });

            fetchGridData(grid,1); // 页面加载时请求数据
        });

    </script>
{% endblock javascripts %}