{% load static %}
    <!-- Required Js -->

    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/plugins/fileinput.js' %}"></script>
    <script src="{% static 'assets/plugins/locales/zh.js' %}"></script>
    <script src="{% static 'assets/plugins/locales/ar.js' %}"></script>
    <script src="{% static '/themes/explorer/theme.js' %}"></script>
    <script src="{% static 'assets/plugins/bootbox.js' %}"></script>
    <script src="{% static 'assets/plugins/bootbox_zh_CN.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>


